In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("vms.csv")

In [4]:
df.columns

Index(['Name', 'API Name', 'Instance Memory', 'vCPUs', 'Instance Storage',
       'Network Performance', 'On Demand', 'Linux Reserved cost',
       'Linux Spot Minimum cost', 'Windows On Demand cost',
       'Windows Reserved cost'],
      dtype='object')

In [5]:
columns_to_drop = [
    "Linux Reserved cost",
    "Linux Spot Minimum cost",
    "Windows On Demand cost",
    "Windows Reserved cost"
]
df = df.drop(columns=columns_to_drop)

In [6]:
df.head()

,Name,API Name,Instance Memory,vCPUs,Instance Storage,Network Performance,On Demand
0,R6IDN 12xlarge,r6idn.12xlarge,384 GiB,48 vCPUs,2850 GB (2×1425 GB NVMe SSD),75 Gigabit,$4.6894 hourly
1,C5N 18xlarge,c5n.18xlarge,192 GiB,72 vCPUs,EBS only,100 Gigabit,$3.8880 hourly
2,R6ID Eight Extra Large,r6id.8xlarge,256 GiB,32 vCPUs,1900 GB NVMe SSD,12.5 Gigabit,$2.4192 hourly
3,I3EN 12xlarge,i3en.12xlarge,384 GiB,48 vCPUs,30000 GB (4×7500 GB NVMe SSD),50 Gigabit,$5.4240 hourly
4,M6IN Extra Large,m6in.xlarge,16 GiB,4 vCPUs,EBS only,Up to 30 Gigabit,$0.2785 hourly

In [7]:
df[['Instance Memory']]

    Instance Memory
0           384 GiB
1           192 GiB
2           256 GiB
3           384 GiB
4            16 GiB
..              ...
938         117 GiB
939       0.613 GiB
940        60.5 GiB
941         768 GiB
942         128 GiB

[943 rows x 1 columns]

In [8]:
# Remove ' GiB' and convert to integer
df["Instance Memory"] = df["Instance Memory"].str.replace(" GiB", "").astype(float).astype(int)

# Optional: view result
df[["API Name", "Instance Memory"]].head()

         API Name  Instance Memory
0  r6idn.12xlarge              384
1    c5n.18xlarge              192
2    r6id.8xlarge              256
3   i3en.12xlarge              384
4     m6in.xlarge               16

In [10]:
# Extract the first numeric value from the vCPUs column
df["vCPUs"] = df["vCPUs"].str.extract(r'(\d+)', expand=False).astype(int)

# Optional: check result
df[["API Name", "vCPUs"]].head()

         API Name  vCPUs
0  r6idn.12xlarge     48
1    c5n.18xlarge     72
2    r6id.8xlarge     32
3   i3en.12xlarge     48
4     m6in.xlarge      4

In [12]:
# Remove $ and non-numeric characters, then convert to float
df["On Demand"] = df["On Demand"].str.extract(r'\$?([\d.]+)', expand=False).astype(float)

# Optional: view cleaned result
df[["API Name", "On Demand"]].head()

         API Name  On Demand
0  r6idn.12xlarge     4.6894
1    c5n.18xlarge     3.8880
2    r6id.8xlarge     2.4192
3   i3en.12xlarge     5.4240
4     m6in.xlarge     0.2785

In [13]:
df.head()

,Name,API Name,Instance Memory,vCPUs,Instance Storage,Network Performance,On Demand
0,R6IDN 12xlarge,r6idn.12xlarge,384,48,2850 GB (2×1425 GB NVMe SSD),75 Gigabit,4.6894
1,C5N 18xlarge,c5n.18xlarge,192,72,EBS only,100 Gigabit,3.8880
2,R6ID Eight Extra Large,r6id.8xlarge,256,32,1900 GB NVMe SSD,12.5 Gigabit,2.4192
3,I3EN 12xlarge,i3en.12xlarge,384,48,30000 GB (4×7500 GB NVMe SSD),50 Gigabit,5.4240
4,M6IN Extra Large,m6in.xlarge,16,4,EBS only,Up to 30 Gigabit,0.2785

In [14]:
df.to_csv("cleaned_vm_data.csv", index=False)